body {
  color:lightcyan;
  font-family:sans-serif;
  transition-duration:3.5s;
  background:rgba(254, 254, 0, 0.85);
}

.code-js .title {
  transition-duration:2s;
  color:tomato;
}

.code-js .title:hover {
  text-shadow:0 0 2px blue, 0 0 15px lightcyan;
}

.code-js .credits {
  color:green;
}
