body {
  color:lightcyan;
  font-family:sans-serif;
  transition-duration:3.5s;
  background:rgba(254, 254, 0, 0.85);
}

.blobs .title {
  transition-duration:2s;
  color:tomato;
}

.blobs .title:hover {
  text-shadow:0 0 2px blue, 0 0 15px lightcyan;
}

.blobs .credits {
  color:green;
}

.blobs .blob {
  border-radius:52%;
  width:var(--width-blob);
  height:var(--height-blob);
  background: linear-gradient(lightcyan, cyan);
  animation:blob 5s infinite;
}

@keyframes blob {
  0% {
    border-radius:2%;
  }
  50% {
    border-radius:52%;
  }
  100% {
    border-radius:62%;
  }
}

:root {
  --width-blob:55px;
  --height-blob:55px;
}
